.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcuserdata
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.dmg
build/
.env
